absl-py==0.2.0
adal==1.1.0
alembic==1.0.10
amqp==2.4.2
aniso8601==7.0.0
apiclient==1.0.3
asn1crypto==0.24.0
astor==0.6.2
astroid==2.0.4
atomicwrites==1.3.0
attrs==19.1.0
auth==0.5.3
autopep8==1.4.4
bcrypt==3.1.6
beautifulsoup4==4.6.3
billiard==3.6.0.0
bleach==1.5.0
blinker==1.4
boto==2.48.0
boto3==1.7.30
botocore==1.10.30
build==1.0.2
bz2file==0.98
cachetools==2.1.0
celery==4.3.0
certifi==2018.4.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cryptography==2.3.1
decorator==4.3.0
discovery==0.0.4
dj-database-url==0.5.0
Django==2.1.2
django-appconf==1.0.2
django-cors-headers==2.2.0
django-extra-fields==1.0.0
django-filter==2.0.0
django-googledrive-api==0.2.4
django-heroku==0.3.1
django-markdownify==0.8.0
django-model-utils==3.1.2
django-multiselectfield==0.1.8
django-notifications-hq==1.5.0
django-rest-swagger==2.2.0
django-templatetag-randomgen==0.3
djangorestframework==3.8.2
dnspython==1.15.0
docutils==0.14
echo==0.1
eventlet==0.23.0
ez-setup==0.9
falcon==1.4.1
feedparser==5.2.1
flake8==3.5.0
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==3.18.2
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
fpdf==1.7.2
freezegun==0.3.10
gast==0.2.0
gensim==3.4.0
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
greenlet==0.4.15
grpcio==1.15.0
gspread==3.0.1
gunicorn==19.9.0
h5py==2.9.0
html5lib==0.9999999
http-ece==1.0.5
httplib2==0.11.3
httplib2shim==0.0.3
idna==2.6
importlib-metadata==0.18
inflect==2.1.0
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
jsonfield==2.0.2
jsonpickle==1.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kombu==4.5.0
lazy-object-proxy==1.3.1
Mako==1.0.12
Markdown==2.6.11
MarkupSafe==1.1.1
mccabe==0.6.1
mock==2.0.0
mongoengine==0.15.0
monotonic==1.5
more-itertools==7.2.0
msrest==0.6.1
msrestazure==0.5.0
networkx==2.2
nltk==3.3
numpy==1.14.3
oauth2client==4.1.2
oauthlib==2.1.0
openapi-codec==1.3.2
packaging==19.0
pandas==0.23.4
passlib==1.7.1
pbr==5.1.3
Pillow==5.3.0
pluggy==0.12.0
protobuf==3.5.2.post1
psycopg2==2.8.3
psycopg2-binary==2.8.1
public==1.0.3
py==1.8.0
py-vapid==1.4.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycodestyle==2.5.0
pycparser==2.19
pyemd==0.5.1
pyfcm==1.4.5
pyflakes==1.6.0
PyJWT==1.7.1
pylint==2.1.1
pylint-django==2.0.2
pylint-plugin-utils==0.4
pylint-runner==0.5.4
pymongo==3.7.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-decouple==3.1
python-editor==1.0.4
python-http-client==3.1.0
python-mimeparse==1.6.0
pytz==2019.1
pywebpush==1.7.0
PyYAML==3.13
redis==3.2.1
requests==2.21.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
rope==0.14.0
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
self==1.0.2
sendgrid==6.0.5
simplejson==3.16.0
six==1.12.0
sklearn==0.0
smart-open==1.5.7
SQLAlchemy==1.3.5
sqlparse==0.3.0
tabulate==0.8.3
tensorboard==1.8.0
tensorflow==1.5.0
tensorflow-estimator==1.13.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
typed-ast==1.3.1
uritemplate==3.0.0
urllib3==1.24.1
vine==1.3.0
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
whitenoise==3.3.1
wrapt==1.10.11
xlrd==1.2.0
XlsxWriter==1.1.5
zipp==0.5.2