{% extends 'Venter/index.html' %}
{% block title %}About Us{% endblock %}
{% block content %}

<!-- LINEARICONS -->
<link rel="stylesheet" href="../../static/assets/fonts/linearicons/style.css">
<script src="../../static/assets/js/jquery-3.3.1.min.js"></script>
<script src="../../static/assets/js/main.js"></script>
<link rel="stylesheet" href="../../static/assets/css/about_us.css">

<div class="outer-as">
    <div class="inner-as">
        <h3>inner-as is white in color, a part of outer-as which is Blue in color</h3>
    </div>
</div>

{% endblock %}