{% block title %}Domain Data{% endblock %}
{% block content %}
{% for category,response in cardview_data.items %}
{% if category == 'Statistics' %}
<!--continue-->
{% else %}
<div class="card" id="{{category}}">
    <div class="card-header">
        <label class="label-category">{{category}}</label>
        <hr>
    </div>
    <div class="card-body">
        <div class="card-text">
            {% if not response %}
            <li class="list-group-item">No response</li>
            {% else %}
            {% if category == 'Novel' %}
            <ul class="list-group no_response_list">
                {% for keys, item in response.items %}
                <li class="list-group-item">
                    <b>Sub category {{forloop.counter}}</b>
                </li>
                {% for r in item %}
                <li class="list-group-item">
                    {{r}}
                </li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% else %}
            <ul class="list-group response_list">
                {% for r in response %}
                <li class="list-group-item">
                    {{r.response}}
                    <span class="response_score">{{r.score}}%</span>
                </li> <br>
                {% endfor %}
            </ul>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
