{% extends 'Venter/index.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/assets/css/password_reset_form.css"> 

<div class="data">
    <label id="label2">Forgot password?</label>
</div>

<br><br><br>

<form method="post">
  <div class="email">
    <label id="label1">Registered Email:</label>
  </div>
  {% csrf_token %}
  {{form.email}}
  &nbsp;&nbsp;
  <button type="submit" class="btn submit_btn">Submit</button>
</form>

<br><br>
  
<div class="password-inner-container">
    {% for field in form %}
    {% if field.errors %}
      {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% else %}
    {% endif %}      
  {% endfor %}
</div>  


{% endblock %}
