<ul class="list-group keyword_list">
    {% for keyword in keyword_list %}
        <div class="list-group-item">
            <li class="keyword-label change-selection">{{keyword}}</li>
        </div>
    {% endfor %}    
</ul>
<div class="row dropdown-button-container">
    <div class="col-sm-10">
        <input name="keyword" class="form-control form-control keyword_input_holder" type="text"
            placeholder="Type keyword to add"
            id="input_custom_keyword_only">
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn add-custom-keyword-btn" onclick="add_keyword_only();">
            <i class="fa fa-plus plus-fa" aria-hidden="true"></i>
        </button>
    </div>
</div>