/*
Styling for login.html
*/

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../../assets/fonts/muli/Muli-SemiBold.ttf"); 
}

body{
  background-color: #accffe;
}

.out {
  height: 100vh;
  width: 100vw;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px; 
  }
  
.wrapper{
  overflow: hidden;
  }
  
.main_container{
  width: 450px;
  height: 600px;
  background-color: white;
  height: auto;
  margin: 0 auto;
  top: 10%;
  position: relative;
  padding: 20px;
  box-shadow: 5px 10px #778eb3;
  }
  
.image_container {
  text-align: center;
  }

.bottom_container {
  text-align: center;
  }

.login-image{
  width: 300px;
  }

/* Since container-fluid leaves weird borders on the edge due to its default padding, I have overrridden it. */
.container-fluid {
  padding: 0px;
  }
  
span.psw {
  float: right;
  padding-top: 16px;
  }

.field_container label{
  font-family: 'Times New Roman', Times, serif;
  }

.icon{
  font-size: 25px;
  }

.input-group-addon{
  background-color: lightgray;
  width: 20%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block; 
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px; 
  }

  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
  }

.submit-login {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #99ccff;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden; }
.submit-login span {
  position: relative;
  z-index: 2; }
.submit-login:hover{
  background: #1a8cff;
}
.submit-login:before, .submit-login:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(52, 152, 253, 0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
.submit-login:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }
.submit-login:hover:before, .submit-login:hover:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }