
.outer-upload-file {
  background-color: #b3cefa;
  width: 100%;
  height: 100%;
}

.inner-upload-file {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  top: 35%;
  position: relative;
  padding: 2%;
}

.uploadinner {
  width: 400px;
  border-radius: 20px;
  border: solid #3c7ee4;
  padding: 2px;
}

.data {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  font-family: Copperplate; 
  font-size: 30px;
}

.submitbtn {
  background-color: #3c7ee4;
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}