/*
Styling for upload_file.html
*/

@font-face {
  font-family: "Muli-SemiBold";
  src: url("../../assets/fonts/muli/Muli-SemiBold.ttf"); 
}

@font-face {
  font-family: "Muli-Regular";
  src: url("../../assets/fonts/muli/Muli-Regular.ttf"); 
}

.outer-upload-file {
  background-color: #b3cefa;
  width: 100%;
  height: 100%;
}

.inner-upload-file {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  top: 35%;
  position: relative;
  padding: 2%;
}

.upload-inner {
  width: 400px;
  border-radius: 20px;
  border: solid #3c7ee4;
  padding: 2px;
}

.data {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  font-family: Copperplate; 
  font-size: 30px;
}

.modal-body{
  height: 180px;
  background-color: #32bc65;
}   

.file_logo-upload{
  width:150px;
  height:140px;
}

.modal-footer{
  height: 200px;
  background-color: white;
}

.footer-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p1-upload{
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.nav li.upload-file-item .nav-link{
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}

div.sidebar-wrapper li.wordcloud-item{
  display: none;
}

.submit-upload-file {
  border: none;
  width: 100%;
  height: 49px;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #99ccff;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden; }
.submit-upload-file span {
  position: relative;
  z-index: 2; }
.submit-upload-file:hover{
  background: #1a8cff;
}
.submit-upload-file:before, .submit-upload-file:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(52, 152, 253, 0.25);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
.submit-upload-file:after {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }
.submit-upload-file:hover:before, .submit-upload-file:hover:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.proposal_title{
 font-family: Muli-Regular;
 color: #000000;
}

#id_proposal{
  width: 180px;
  height: 40px;
}

.domain-present-label{
  font-family: Muli-Regular;
  color: #000000;
}

.domain_choice_holder{
  text-align: center;
}