/*
Styling for visualization_dashboard.html
*/
.outer-vd{
    background-color: whitesmoke;
    height: 100vh;
    justify-content: center;
    padding-top: 2vh;
}

div.sidebar-wrapper li.wordcloud-item{
    display: block;
}
  
.chartsize {
    width: 2000px;
    height: 700px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
}