/*
Styling for visualization_dashboard.html
*/
.modal-dialog.google-visualization-charteditor-dialog {
    left: 300px !important; 
    /* background-color: black;
    width: 100% !important; */
}

.outer-vd{
    background-color: whitesmoke;
    height: 100vh;
    justify-content: center;
    padding-top: 2vh;
}

div.sidebar-wrapper li.wordcloud-item{
    display: block;
}

/* .google-visualization-charteditor-dialog {
    width: 100% !important;
    background-color: burlywood;
} */

/* .google-visualization-charteditor-preview-td {
    background-color: goldenrod;
    width: 700px !important;
    height: 500px !important;
} */

/* .google-visualization-charteditor-panel {
    background-color: green;
    width: 1000px !important;
} */

/* .google-visualization-charteditor-settings-td {
    width: 800px !important;
    height: 530px !important;
    background-color: brown;
} */

/* div.modal-dialog.google-visualization-charteditor-dialog{
    background-color: blue !important;
    width: 100% !important;
    border-radius: 5px;
} */

ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.nav.navbar-nav {
    float: left;
}

a {
    text-decoration: none !important;
}

/* li {
    position: absolute;
    left: 0;
} */

.sidebar {
    background-image: url(../img/sidebar-2.jpg) !important;
}

.back-btn{
    float:right;
    background-color: green;
    color: white;
}
