/*
Styling for wordcloud.html
*/

.outer-wc{
    background-color: rgb(248, 247, 246);
    height: 820px;
    justify-content: center;
    padding-top: 2vh;
}

.inner-wc{
    padding-top: 2vh;
    padding: 1vw; 
    height: 820px;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

div.sidebar-wrapper li.wordcloud-item{
    display: none;
}

.nav li.wordcloud-item .nav-link{
    color: #FFFFFF;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.wordcloud-container{
    height: 635px;
    border: 1px solid darkslategray;
    overflow-y: scroll;
    overflow-x: scroll;
}

canvas{
    height: 635px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#label_domain_name{
    color: blue;
    font-weight: bolder;
    font-size: x-large;
}

select#category_dropdown{
    width: 700px;
    overflow-x: scroll;
}

#label_domain_name{
    color: black; font-weight: bolder; font-size: x-large;
}

#label_category{
    color: black; font-weight: bolder; font-size: large; visibility: hidden;
}

#label_category_name{
    color: black; font-size: medium; visibility: hidden;
}